.productHeader{
    align-items: center !important;
    justify-content: center !important;
    display: flex;
}
.home{
    height: 600px;
    width: 100%;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home::after{
    content: " ";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: white;
    opacity: .2;
    background-image: url("../Assets/back.jpg") ;
    background-size: cover;
    background-position: center;
}

.home .card1{
    margin-right: 20px;
    margin-left: 10px;
}

.home .card2{
    margin-right: 20px;
}

.home .card3{
    margin-right: 20px;
}

.home .card1:hover{
    text-decoration: dotted;
    transition-duration: 0.2s;
    color: aqua !important;
}

